.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.productContainerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}